@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('../painel/vendor/font-awesome/css/font-awesome.min.css');
@import url('../painel/css/sb-admin.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css');
*{font-family: Montserrat, "sans-serif"; color:#595959;}
h1,h2,h3,h4,h5,h6{font-weight: 700; color: #008146;}
a{color:#008146;}
.h1Forms{margin:40px 0;}
label{color:#FF7E00;}
body{margin:50px 0;}