RewriteEngine on

Options +FollowSymLinks
#RewriteCond %{HTTP_HOST} ^destineja.pw [NC]
#RewriteRule ^(.*)$ http://destineja.pw/$1 [R=301,L] 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|images|robots\.txt)

RewriteRule ^(.*)$ index.php?r=$1 [L,QSA] 